* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --ff-font-family:"Outfit", sans-serif;
  font-size: 15px;
}


body{
    background-color: var(--slate-300);
    font-family: var(--ff-font-family);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container{
    max-width: 320px;
    margin: auto;
}

.qr-card{
    margin: 0 1em;
    background: var(--white);
    padding: 20px;
    border-radius: 16px;   
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.qr-card_image{
    height: 250px;
    width: 100%;
}

.qr-card_image img{
    width: 100%;
    height:100%;
    border-radius: 16px;
}

.qr-card_content{
    padding: 16px;
    text-align: center;
}

.qr-card_title{
    font-size: 18px;
    padding-bottom: 16px;
    color: var(--slate-900);
    line-height: 24px;
}

.qr-card_info{
    color: var(--slate-500);
    line-height: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}